/* upcominghackathons.module.css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff2f8; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.img {
    width: 100%;
    max-height: 400px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 20px;
}

.detailsbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsbox h2{
    text-align: center;
    font-size: 38px;
    font-family: "Roboto Mono", monospace;
}

.left {
    flex: 0.3;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;

}

.logo {
    width: 550px;
    height: 350px;
    border-radius: 12px;

}

.right {
    flex: 0.7;
    padding: 20px;
    display: flex;

    flex-direction: column;
}

.right p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.deadlinecontainer{
    width: 550px;
    height: 310px;
    background-color: #f0f2f5;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
display: flex; 
justify-content: center;
align-items: center;


}

.lastdate {

    color: #f54242;
    font-weight: bold;

}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.enrollbtn {
    background-color: transparent;
    color: black;
    padding: 12px 24px;

    border: 1px solid black;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

.enrollbtn:hover {
    background-color: #2C3E50;
    color: white;
}

/* Extra styling for responsiveness */
@media (max-width: 768px) {
    .detailsbox {
        flex-direction: column;
    }

    .right {
        padding: 15px;
    }

    .logo {
        width: 120px;
    }
}
