@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.container {
    /* max-width: 1200px; */
    /* margin: 0 auto; */

    background-color: #f4f5f7;
    font-family: 'Roboto', sans-serif;
}

.topBanner {
    width: 100%;
    margin-bottom: 20px;

}

.topBannerImage {
    width: 100%;
    height: 250px;
    object-fit: cover;

}

.main {
    display: flex;
    gap: 30px;
    padding: 25px 60px;
}

.left {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.banner {
    width: 100%;
    /* height: 200px; */
    /* border-radius: 8px; */
    object-fit: cover;
    margin-bottom: 15px;
}

.hackathonInfo {

    padding: 20px 20px;
    /* background-color: red; */
}

.label {
    display: inline-block;
    background-color: #facc15;
    color: #111;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

.locationDate {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
    color: #6b7280;
}

.location,
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.hackathonTitle {
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
    margin: 15px 0;
}

.description {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.5;
    margin-bottom: 15px;
}


.right {
    flex: 0.5;
    background-color: white;
    padding: 20px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111827;
    text-align: center;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 50px;
    /* Adjust the width as needed */
    height: 4px;
    /* Adjust the thickness of the line */
    background-color: #2C3E50;
    /* Color of the underline */
    margin: 0 auto;
    position: absolute;
    bottom: -10px;
    /* Adjust the spacing below the title */
    left: 50%;
    transform: translateX(-50%);
}
.details{
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
}

.details h3 {
    font-size: 20px;
    
}


.details p {
    font-size: 15px;
    display: flex;
    align-items: center;
color: #374151;
    gap: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 400;
}
.prizes{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  line-height: 0.1;justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #dcdcdd;
  padding: 8px 16px;
}
.organizers p{
    font-size: 15px;
}

.detailsBox{
    display: flex;
    /* background: linear-gradient(to right, #9333EA, #2563EB); */
 background-color: #F3E8FF;
    padding: 10px;
    height:30px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.detailsBox p{
    color: #6B21A8;
    font-weight: bold;
    font-size: 14px;
}

.registerButton {
    display: block;
    width: 100%;
      background: linear-gradient(to right, #9333EA, #2563EB);

    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registerButton:hover {
    background-color: #155cb3;
}