@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu&display=swap');
.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;

}

.cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  /* background-color: rgb(245, 245, 115); */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  position: relative;
  text-align: left;
  max-width: 300px;
  width: 100%;
}

.status {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 5px;
}

.team_details {
  margin-top: 2rem;
}

.teamName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hackathonName {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}
