@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu&display=swap');

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .h3 {
    font-family: "Roboto Mono", monospace;
  
    font-size: 32px;
    color: #333;
  }
  
  /* For grid layout with 3 cards per row */
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px; /* Space between grid items */
  }
  
  /* Styling individual cards */
  .card {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  /* Logo styling inside each card */
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  /* Hackathon name text */
  .card h4 {
    font-size: 20px;
    color: #333;
    margin: 0;
    font-weight: 500;
  }
  