.not-container {
  height: 100vh;
  padding: 20px;
  background-color: #eff2f8; 
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.not-container .light-line {
  border: none;
  border-top: 1px solid #dcdcdc;
  margin: 10px 0;
}

.not-container .select-container {
  display: flex;
  gap: 20px;
}

.not-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  color: #34495e;
  transition: color 0.3s ease, transform 0.3s ease;
}

.not-container button:hover {
  color: #3498db;
  transform: translateY(-2px);
}