.not-container {
    height: 100vh;
    overflow-y: auto;
  

    .single-Notification-container{
   border: 1px solid black;
   margin-bottom: 10px;
  padding: 5px;
    }
  
    .light-line {
      border: none;
      border-top: 1px solid #b1b1b1; /* Light gray line */
      margin-top: 10px; /* Spacing above the line */
    }

.not-container .select-container {
  display: flex;
  gap: 20px;
}

.not-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  color: #34495e;
  transition: color 0.3s ease, transform 0.3s ease;
}

.not-container button:hover {
  color: #3498db;
  transform: translateY(-2px);
}
}