.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */


    padding: 20px;
  }
  
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 600px;
    overflow: scroll;
    padding: 20px;
    position: relative;
  }
  
  .hackathonTitle {
    font-size: 24px;
    font-weight: 700;
    color: #1a3e7a;
    margin-bottom: 5px;
  }
  
  .organizer {
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    margin-bottom: 20px;
  }
  
  .teamSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .teamName {
    color: #2d4cc8;
    font-weight: 600;
  }
  
  .teammates {
    color: #5a5a5a;
    font-size: 14px;
  }
  
  .additionalInfo {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
  }
  
  .memberCard {
    display: flex;
    align-items: center;
    background-color: #e8f3ff;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    border: 0.5px solid black;
  }
  
  .avatar img {
    background-color: #2a5783;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .memberInfo {
    flex-grow: 1;
  }
  
  .memberName {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }
  
  .memberDetails {
    font-size: 14px;
    color: #5a5a5a;
  }
  
  .memberRole{
    border: 1px solid black;
    background-color: transparent;
}
.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal Box */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    max-width: 90%;
}

/* Modal Buttons */
.modalButtons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.confirmButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirmButton {
    background-color: #ff4d4d;
    color: white;
}

.cancelButton {
    background-color: #ccc;
    color: black;
}

.confirmButton:hover {
    background-color: #e63939;
}

.cancelButton:hover {
    background-color: #bbb;
}
.deleteTeamBtn{
    background-color: transparent;
    /* border: 0.5px solid black; */
    border: none;
    color: darkblue;
    padding: 8px;
    position: absolute;
    right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}