.bigContainer {
    height: 100vh;
    padding: 20px 40px;
    background-color: #F9FAFB;

}

.header {
    font-size: 14px;
    color: #6B7280;
    /* margin-bottom: 4px; */
}

.container {
    display: flex;
    gap: 20px;
    height: 100%;
    /* padding: 40px; */
    /* background-color: yellow; */
    position: relative;
    z-index: 1;


}

.leftPanel,
.rightPanel {
    padding: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    overflow-y: scroll;
}

.leftPanel {
    overflow: scroll;
    position: relative;
    flex: 0.65;
    height: auto;
    max-height: 65%;
    border-top: 6px solid #111827;
    border-radius: 8px;

}


.rightPanel {
    display: flex;
    border-radius: 8px;
    gap: 20px;
    flex: 0.35;
    height: 75%;
    background-color: #F9FAFB;
}


.hackathonTitle {
    font-size: 24px;
    font-weight: bold;
    color: #1a3e7a;
}

.institution {
    font-size: 14px;
    color: #4B5563;
}

.teamSection {
    margin-top: 20px;
}

.teamHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamName {
    font-weight: 400;
    font-size: 16px;
}

.teamNameHighlight {
    color: #4F46E5;
    font-weight: bold;
}


.progressCircle {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressCircle svg {
    position: absolute;
}

.circleText {
    position: absolute;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.memberCount {
    font-size: 15px;
    color: #333;
}

.memberCountP {
    font-size: 14px;
    color: #777;
}


.memberCard {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(44, 62, 80, 0.2), #FFFFFF);
    /* border: 0.5px solid black; */
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    position: relative;
}

.memberCard:hover {
    background-color: #d2e7f3;
}

.memberAvatar img {
    background-color: #2a5783;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    object-fit: cover;

}

.Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.memberBtnCon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: yellow; */
}
/* .memberInfo{
    display: flex;
    flex-direction: column;
   line-height: 1;
} */
.memberName {
    font-weight: 500;
    cursor: pointer;
    /* background-color: red; */
}

.memberCollege {
    /* border-left: 1px solid grey; */
    /* padding-left: 10px; */
    background-color: #DBEAFE;
    color: #1E40AF;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.memberDegree {
    background-color: #F3E8FF;
    color: #6B21A8;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.memberYear {
    background-color: #FFEDD5;
    color: #9A3412;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.memberRole {
    /* border: 1px solid black; */
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    color: white;
    background-color: #16A34A;
}

.removeBtn {
    cursor: pointer;
    color: #DC2626;
}

.leaveBtn {
    position: absolute;
    padding: 3px 10px;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
    background-color: transparent;
    border: none;
    color: #DC2626;
    /* color: white; */
}

.deleteTeamBtn {
    background-color: transparent;
    /* border: 0.5px solid black; */
    border: none;
    color: #DC2626;
    padding: 8px;
    position: absolute;
    right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.deleteTeamBtn:hover {
    cursor: pointer;
    background-color: rgba(250, 69, 69, 0.777);
    color: black;
}


.addMemberButton,
.inviteFriendsButton {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;

    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.backButton:hover,
.completeRegistrationButton:hover {
    background-color: #004080;
    color: white;
}


.searchContainer {

    margin-top: 10px;
    width: 67%;
    overflow: scroll;

}

.searchBar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    position: sticky;
}

.searchInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #9CA3AF;
    border-radius: 6px;
}

.searchButton {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters {
    /* background-color: #007bff; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70vh;
    width: 30%;
    border-right: 1px solid #ddd;
    padding-right: 15px;
}

.filterheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */

}

.filterheader button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 15px;
    color: #0056b3;
}

.filterCategory {
    background-color: #eef2f9;
    /* Light background for separation */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.filterCategory:hover {
    background-color: #d6e8f8;
    /* Slightly darker on hover */
}

.filterName {
    cursor: pointer;
    font-size: 14px;
}
.filters p{
    font-size: 14px;
    cursor: pointer;
}

.filterlist {
    transition: transform 0.3s ease, height 0.3s ease, padding 0.3s ease;

    transform: scaleY(0);
    height: 0;

    padding: 0;
    display: flex;
    flex-direction: column;

}

/* Show Filter List */
.showfilterlist {
    transform: scaleY(1);
    height: auto;
    padding: 10px 0;
}

.filterCategory p {
    font-weight: bold;
    color: #555;

}

.filterCategory label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    gap: 8px;
    cursor: pointer;
}

.filterCategory input[type="checkbox"] {
    accent-color: #007bff;
    margin-right: 8px;
    cursor: pointer;
}

.nextBtn {
    background-color: #28a745;
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.backButton {
    background-color: #999;
    color: #333;
    width: 100px;
    border: none;
    border-radius: 4px;

}

.buttonContainer {
  position: absolute;
 bottom: 20px;
 display: flex;

justify-content: space-between;
width: 60%;

    /* background-color: #004d40; */


}

.recommendationlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    align-items: center;
    padding: 15px;

}

.item {
    display: flex;

    align-items: center;
    background-color: #e8f1f9;
    color: #004d40;
    width: 100%;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.item div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.item .details {
    /* background-color: #004080; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.item .itemborder {
    font-size: 15px;
    font-weight: bold;
    padding-left: 12px;
    border-left: 1px solid #aaa;
    color: #333;
}

.item:hover {
    background-color: #afc7de;
}

.item span {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* .details .detailsName{
   text-align: left;
} */

.details .down span {
    font-size: 12px;
    font-weight: 400;
}

.item button {
    background-color: #5a82a1;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.item button:hover {
    background-color: #2C3E50;
}

.itemimg {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
}

/* Modal Background */
.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal Box */
.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    max-width: 90%;
}

/* Modal Buttons */
.modalButtons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.confirmButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirmButton {
    background-color: #ff4d4d;
    color: white;
}

.cancelButton {
    background-color: #ccc;
    color: black;
}

.confirmButton:hover {
    background-color: #e63939;
}

.cancelButton:hover {
    background-color: #bbb;
}

.removeBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 20px;
}

.removeBtn:hover {
    color: black;
    background-color: #f76464ce;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s;
}